<h1>Listing products</h1>

<% @products.each do |product| %>
  <tr.class="<%=cycle('list_line_odd,lisd_line_even')%>">
    <td><%= image_tag(product.image_url)%></td>
    <td>
      <dl>
        <dt><b><%= product.title%></b></dt>
        <dd><%= truncate(strip_tags(product.description),:length=>80)%></dd>
        <dt><b><%= product.price %><b></dt>
      </dl>
    </td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
